@model IEnumerable<MobileStoreApp.Data.Models.Phone>

<h3 class="mt-5 mb-4 text-center sedan-regular">Phones of the manufacturer in the picture</h3>

<div class="row">
    @foreach (var phone in Model)
    {
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card modelsCard">
                <div class="card-body">
                    <a href="@Url.Action("Details", "Shop", new { id = phone.PhoneId })">
                        <img src="@phone.Picture" class="card-img-top" alt="@phone.Name" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                    </a>
                    <h5 class="card-title">@phone.Name</h5>
                    <p class="card-text">Price: @phone.Price.ToString("C")</p>
                </div>
            </div>
        </div>
    }
</div>

<a href="@Url.Action("Index", "Home")" class="btn btn-primary"><img src="~/left-arrow.png" /> Back</a>