<div class="row" id="container">
    <h3 class="mt-3 sedan-regular">@Model.Name</h3>
    <div>
        <img src="@Model.Picture" alt="@Model.Name" style="max-width: 350px; max-height: 350px;" />
    </div>

    <div>
        <p><span class="fw-bold">Specification: </span>@Model.Description</p>
        <p><span class="fw-bold">Operation System: </span>@Model.OperationSystem</p>
        <p><span class="fw-bold">Price: </span>@Model.Price.ToString("C")</p>
        <p><span class="fw-bold">Quantity in stock: </span>@Model.Quantity</p>
    </div>
</div>
