<div class="row" id="container">
    <h2 class="mt-5">@Model.Name</h2>
    <div>
        <img src="@Model.Picture" alt="@Model.Name" class="text-center" style="max-width: 300px; max-height: 300px;" />
    </div>

    <div>
        <p>@Model.Description</p>
        <p>Operation System: @Model.OperationSystem</p>
        <p>Price: @Model.Price.ToString("C")</p>
        <p>Quantity in stock: @Model.Quantity</p>
    </div>
</div>
