@model MobileStoreApp.Data.Models.Phone

<div class="row">
    <div class="col-md-6 mb-5">
        <h4 class="mt-4">@Model.Name</h4>
        <div>
            <img src="@Model.Picture" alt="@Model.Name" style="max-width: 300px; max-height: 300px;" />
        </div>

        <div>
            <p><span class="fw-bold">Specification: </span>@Model.Description</p>
            <p><span class="fw-bold">Operation System: </span>@Model.OperationSystem</p>
            <p><span class="fw-bold">Price: </span>@Model.Price.ToString("C")</p>
            <p><span class="fw-bold">Quantity in stock: </span>@Model.Quantity</p>
        </div>
    </div>

    <div id="phoneDetails" class="col-md-6"></div>
</div>

<div id="allPhonesContainer" class="d-flex justify-content-center mt-5">
    <button id="showAllPhones" class="btn btn-primary">Comapre <span><img src="~/left-and-right-arrows.png" /></span></button>
</div>


<a href="@Url.Action("Details", "Shop",  new { id = Model.PhoneId })" class="btn btn-primary"> <img src="~/left-arrow.png" /> Back</a>

