@model MobileStoreApp.Data.Models.Phone

<h3 class="mt-5 sedan-regular">@Model.Name</h3>

<div>
    <img src="@Model.Picture" alt="@Model.Name" class="text-center" style="max-width: 350px; max-height: 350px;" />
</div>

<div>
    <p><span class="fw-bold">Specification: </span> @Model.Description</p>
    <p><span class="fw-bold">Operation System: </span> @Model.OperationSystem</p>
    <p><span class="fw-bold">Price: </span> @Model.Price.ToString("C")</p>
    <p><span class="fw-bold">Quantity in stock: </span> @Model.Quantity</p>
    <p>
        <span class="fw-bold">Average rating: </span>
        @{
            if (Model.Comments.Count > 0)
            {
                var totalRating = 0;
                foreach (var comment in Model.Comments)
                {
                    totalRating += comment.Rating;
                }
                var averageRating = (double)totalRating / Model.Comments.Count;
                @Html.Raw(averageRating.ToString("0.0"))
            }
            else
            {
                @Html.Raw("No ratings yet")
            }
        }
    </p>
</div>

<a href="@Url.Action("Index", "Shop")" class="btn btn-primary me-3">
    <img src="~/left-arrow.png" class="white-icon" /> Back to shop
</a>
<a asp-controller="Shop" asp-action="Compare" asp-route-id="@Model.PhoneId" class="btn btn-primary me-3"> Compare Phones <img src="/left-and-right-arrows.png" class="white-icon" /></a>
<form asp-controller="Cart" asp-action="AddToCart" method="post" style="display:inline-block">
    <input type="hidden" name="phoneId" value="@Model.PhoneId" />
    <input style="width: 60px" type="hidden" name="quantity" min="1" value="1" />
    <button type="submit" class="btn btn-primary">Add to Cart <span><img src="~/add-to-cart.png" class="white-icon" /></span></button>
</form>

<br /><br /> <br />
<hr />

<div class="container">
    <h4>Comments:</h4>
    @if (Model.Comments != null)
    {
        @foreach (var item in Model.Comments)
        {
            <div class="comment-container mb-4">
                <div class="card border-dark">
                    <div class="card-header bg-dark text-light">
                        <span class="fw-bold">@item.User.UserName</span>
                        <span class="float-end">@item.CreatedDate.ToString("dd.MM.yyyy")</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@item.Content</p>
                        <div class="rating">
                            @for (int i = 0; i < item.Rating; i++)
                            {
                                <span class="star">&#9733;</span>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<form asp-controller="Shop" asp-action="AddComment" method="post">
    <div class="form-group">
        <input type="hidden" name="phoneId", value="@Model.PhoneId"/>

        <div class="rating">
            <input type="radio" id="star5" name="rating" value="5" />
            <label for="star5" title="5 stars">&#9733;</label>
            <input type="radio" id="star4" name="rating" value="4" />
            <label for="star4" title="4 stars">&#9733;</label>
            <input type="radio" id="star3" name="rating" value="3" />
            <label for="star3" title="3 stars">&#9733;</label>
            <input type="radio" id="star2" name="rating" value="2" />
            <label for="star2" title="2 stars">&#9733;</label>
            <input type="radio" id="star1" name="rating" value="1" />
            <label for="star1" title="1 star">&#9733;</label>
        </div>

        <textarea class="form-control" id="content" name="content" rows="4" placeholder="Write Comment:" required></textarea>
    </div>
    <button type="submit" class="btn btn-success mt-3">Add comment</button>
</form>