@model IEnumerable<MobileStoreApp.Data.Models.Phone>

<h2>Shop</h2>

@* <div class="row">
    @foreach (var phone in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="placeholder_image_url" alt="@phone.Name">
                <div class="card-body">
                    <h5 class="card-title">@phone.Name</h5>
                    <p class="card-text">@phone.Description</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-muted">@phone.Quantity in stock</span>
                        <span class="text-muted">@phone.MyProperty.ToString("C")</span>
                    </div>
                    <div class="btn-group">
                        <a href="@Url.Action("Details", "Shop", new { id = phone.PhoneId })" class="btn btn-sm btn-outline-secondary">View details</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div> *@

<div class="row">
    @foreach (var phone in Model)
    {
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@phone.Name</h5>
                <p class="card-text">@phone.Description.</p>
                <span class="text-muted">@phone.MyProperty.ToString("C")</span>
                <a href="@Url.Action("Details", "Shop", new { id = phone.PhoneId })" class="btn btn-sm btn-outline-secondary">View details</a>
            </div>
        </div>
    }
</div>


