@model IEnumerable<MobileStoreApp.Data.Models.Phone>

<h3 class="text-center sedan-regular">Explore the latest models of mobile phones!</h3>

<form asp-controller="Shop" asp-action="Index" method="get" class="d-flex justify-content-between mb-5 mt-5">
    <div class="form-groupp">
        <label for="sort" class="ms-2">Sort by:</label>
        <select name="sort" id="sort" class="form-select ms-2 " style="width:150px; border:2px solid black" onchange="this.form.submit()">
            <option value="">Select...</option>
            <option value="highestPrice">Highest Price</option>
            <option value="lowestPrice">Lowest Price</option>
        </select>
        <input type="submit" style="display:none" />
    </div>
    <div class="d-flex align-items-center">
        <input type="text" class="mx-2 ps-2" name="filter" placeholder="Search OS or Manufacturer" style="width:250px; height:38px; border-radius:7px" />
        <button type="submit" class="btn btn-primary me-5 ">Filter <span><img src="~/filterr.png" class="white-icon" /></span></button>
    </div>
</form>


<div class="row">
    @foreach (var phone in Model)
    {
        <div class="card mx-2 mb-4 shopPhones" style="width: 19rem;">
            <a href="@Url.Action("Details", "Shop", new { id = phone.PhoneId })">
                <img src="@phone.Picture" class="card-img-top" alt="...">

            </a>
            <div class="card-body">
                <h5 class="card-title mb-3">@phone.Name</h5>
                <form asp-controller="Cart" asp-action="AddToCart" method="post" class="mt-3">
                    <input type="hidden" name="phoneId" value="@phone.PhoneId" />
                    <span class="text-muted">Quantity: </span>
                    <input style="width: 60px; border-radius:7px" type="number" name="quantity" min="1" value="1" /> <br /> <br />
                    <span class="">Price per phone: @phone.Price.ToString("C")</span>
                    <a href="@Url.Action("Details", "Shop", new { id = phone.PhoneId })" class="btn btn-secondary mt-3">View details</a>
                    <button type="submit" class="btn btn-primary mt-3">Add to Cart</button>
                </form> 
            </div>
        </div>
    }
</div>

<button class="btn btn-primary" id="back-to-top-btn" onclick="scrollToTop()"> <span><img src="~/up-arrow.png" class="white-icon" /></span></button>

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}



