@model IEnumerable<MobileStoreApp.Data.Models.Phone>

<h3 class="text-center">Explore the latest models of mobile phones!</h3>

<form asp-controller="Shop" asp-action="Index" method="get" class="d-flex justify-content-between mb-2 mt-5">
    <div>
        <label for="sort" class="ms-2">Sort by:</label>
        <select name="sort" id="sort" class="form-select ms-2" style="width:150px; border:2px solid black" onchange="this.form.submit()">
            <option value="">Select...</option>
            <option value="highestPrice">Highest Price</option>
            <option value="lowestPrice">Lowest Price</option>
        </select>
        <input type="submit" style="display:none" />
    </div>
    <div class="d-flex align-items-center">
        <input type="text" class="mb-2 mx-2 ps-2" name="filter" placeholder="Search OS or Manufacturer" style="width:250px; height:38px; border-radius:7px" />
        <button type="submit" class="btn btn-primary me-5 mb-2">Filter <span><img src="~/filter.png" /></span></button>
    </div>
</form>


<div class="row">
    @foreach (var phone in Model)
    {
        <div class="card mx-2 mb-4" style="width: 19rem;">
            <img src="@phone.Picture" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@phone.Name</h5>
                <p class="text-muted mt-3">OS: @phone.OperationSystem</p>
                <span class="text-muted">Price per phone: @phone.Price.ToString("C")</span>
                <p class="text-muted">Avaiable phones: @phone.Quantity</p> 
                <form asp-controller="Cart" asp-action="AddToCart" method="post">
                    <input type="hidden" name="phoneId" value="@phone.PhoneId" />
                    <span>Quantity: </span>
                    <input style="width: 60px" type="number" name="quantity" min="1" value="1" /> <br /> <br />
                    <a href="@Url.Action("Details", "Shop", new { id = phone.PhoneId })" class="btn btn-secondary">View details</a>
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form> 
            </div>
        </div>
    }
</div>

<button class="btn btn-primary" id="back-to-top-btn" onclick="scrollToTop()"> <span><img src="~/up-arrow.png" /></span></button>

@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}



