@model List<MobileStoreApp.Data.Models.OrderItem>

<h3 class="sedan-regular mb-3">Shopping Cart</h3>

<table class="table">
    <thead>
        <tr>
            <th>Picture</th>
            <th>Name</th>
            <th>Specification</th>
            <th>Price per unit</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.Phone.Picture" style="height: 100px; width:100px"/></td>
                <td>@item.Phone.Name</td>
                <td>@item.Phone.Description</td>
                <td>@item.Phone.Price.ToString("C")</td>
                <td>
                    <form asp-action="UpdateQuantity" asp-controller="Cart" method="post">
                        <input type="hidden" name="orderItemId" value="@item.OrderItemId" />
                        <input style="width: 60px; border-radius:5px" type="number" name="quantity" min="1" value="@item.Quantity" onchange="this.form.submit()" />
                    </form>
                </td>
                <td class="subtotal">@((item.Phone.Price * item.Quantity).ToString("C"))</td>
                <td>
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="orderItemId" value="@item.OrderItemId" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
        <tr>
            <td colspan="5" class="fw-bold fs-5">Total:</td>

            <td id="total">@Model.Sum(item => item.Phone.Price * item.Quantity).ToString("C")</td>
        </tr>
    </tbody>
</table>

<a href="@Url.Action("Index", "Shop")" class="btn btn-primary mb-5">Continue Shopping</a>

<h3 class="mt-5 sedan-regular">Customer data:</h3>
<hr />
<form class="row g-3">
    <div class="col-md-4">
        <label for="validationDefault01" class="form-label">First name</label>
        <input type="text" class="form-control" id="validationDefault01" value="" required>
    </div>
    <div class="col-md-4">
        <label for="validationDefault02" class="form-label">Last name</label>
        <input type="text" class="form-control" id="validationDefault02" value="" required>
    </div>
    <div class="col-md-4">
        <label for="validationDefaultUsername" class="form-label">Username</label>
        <input type="text" class="form-control" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2" required>
    </div>
    <div class="col-md-4">
        <label for="validationDefault03" class="form-label">City</label>
        <input type="text" class="form-control" id="validationDefault03" required>
    </div>
    <div class="col-md-4">
        <label for="validationDefault04" class="form-label">State</label>
        <select class="form-select" id="validationDefault04" required>
            <option selected disabled value="">Choose...</option>
            <option>Beograd</option>
            <option>Novi Sad</option>
            <option>Niš</option>
            <option>Subotica</option>
            <option>Kragujevac</option>
        </select>
    </div>
    <div class="col-md-4">
        <label for="validationDefault05" class="form-label">Zip</label>
        <input type="text" class="form-control" id="validationDefault05" required>
    </div>
    <div class="col-12">
        <div class="form-check mt-4">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
            <label class="form-check-label" for="invalidCheck2">
                Agree to terms and conditions
            </label>
        </div>
    </div>
    <div class="col-12">
        @foreach (var item in Model)
        {
            <form asp-action="MarkAsShipped" method="post">
                <input type="hidden" name="orderItemId" value="@item.OrderItemId" />
            </form>
        }
        <button type="submit" class="btn btn-success mb-5" asp-action="MarkAsShipped">Submit Order</button>       
    </div>
</form>

<hr />

<h5 class="d-flex justify-content-end mt-4">Total:</h5>
<div class="d-flex justify-content-end">
    <h5 id="regularTotal">0.00</h5>
</div>

<div class="d-flex justify-content-end">
    <hr style="width: 15%">
</div>

<h5 class="d-flex justify-content-end mt-2">Discount 20%:</h5>
<div class="d-flex justify-content-end">
    <h5 id="discount">0.00</h5>
</div>

<div class="d-flex justify-content-end">
    <hr style="width: 15%">
</div>

<h5 class="d-flex justify-content-end mt-2">Price with Discount:</h5>
<div class="d-flex justify-content-end">
    <h5 id="discountedTotal">0.00</h5>
</div>


<script>
    function calculateTotal() {
        var total = parseFloat('@Model.Sum(item => item.Phone.Price * item.Quantity)');
        var quantity = parseInt('@Model.Sum(item => item.Quantity)');
        var regularTotal = total;
        var discountedTotal = regularTotal;

        if (quantity > 4) {
            var discount = 0.2; 
            discountedTotal = regularTotal * (1 - discount);
        }

        var currencyOptions = { style: 'currency', currency: 'GBP' }; 

        document.getElementById('regularTotal').innerText = regularTotal.toLocaleString('en-GB', currencyOptions);
        document.getElementById('discount').innerText = (regularTotal - discountedTotal).toLocaleString('en-GB', currencyOptions);
        document.getElementById('discountedTotal').innerText = discountedTotal.toLocaleString('en-GB', currencyOptions);
    }

    window.onload = function () {
        calculateTotal();
    };
</script>


@if (TempData["ErrorMessage"] != null)
{
    <script>
        alert("@TempData["ErrorMessage"]");
    </script>
}