@model IEnumerable<MobileStoreApp.Data.Models.Phone>

<div class="card card-body mb-4" id="homeDiv" style="border:2px solid #2C3E50">
    <h4 class="card-title text-center">Welcome to CoreCell Mobile, our mobile phone store!</h4> <br />
    <p class="card-text">
    <p>Here at CoreCell Mobile, we bring you the latest and most popular mobile phones from the world of technology. Whether you're seeking cutting-edge smartphones with the latest features, dependable devices with exceptional performance, or simply wish to explore the newest trends in mobile technology, we're here to assist you in finding the perfect phone to meet your needs.</p>
    <p>Our dedication to mobile phones is evident in our extensive selection of products, ranging from leading brands to the latest innovations. Whether you're a tech enthusiast, a business professional, or simply want to stay connected with your loved ones, our team of experts is available to offer support and recommendations to ensure you make the best decision when selecting your new mobile device.</p>
    <p>Enjoy browsing our range of offerings, and don't hesitate to reach out if you have any questions or require additional information. Thank you for choosing CoreCell Mobile for all your mobile phone needs.</p>
    </p>
</div>


<div class="container-fluid p-3 mb-4">
    <div class="d-flex justify-content-between text-center">
        <div class="circle">
            <a href="@Url.Action("Index", "Manufacturer", new { manufacturerName = "Apple" })">
                <img src="~/apple_logo.jpg"/>
            </a>
        </div>
        <div class="circle">
            <a href="@Url.Action("Index", "Manufacturer", new { manufacturerName = "Samsung" })">
                <img src="~/samsung.jpg" />
            </a>  
        </div>
        <div class="circle">
            <a href="@Url.Action("Index", "Manufacturer", new { manufacturerName = "Xiaomi" })">
                <img src="~/Xiaomi-Logo.jpg" />
            </a>
        </div>
        <div class="circle">
            <a href="@Url.Action("Index", "Manufacturer", new { manufacturerName = "Honor" })">
                <img src="~/Honor-logo.jpg" />
            </a>
        </div>
        <div class="circle">
            <a href="@Url.Action("Index", "Manufacturer", new { manufacturerName = "Motorola" })">
                <img src="~/Motorola-Logo.jpg" />
            </a>
        </div>
    </div>
</div>


<a href="@Url.Action("Index", "Shop")" class="btn btn-primary d-flex justify-content-center">Go to Shop </a>


<h4 class="mt-5 mb-3">Top Rated Phones</h4>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col">
                            <div class="card topRatedPhones">
                                <a href="@Url.Action("Details", "Shop", new { id = item.PhoneId })">
                                    <img src="@item.Picture" class="card-img-top" alt="@item.Name" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                                </a>     
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">@item.Price.ToString("C")</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




