@model IEnumerable<MobileStoreApp.Data.Models.Phone>


<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    </div>
    <div class="carousel-inner carouselHome">
        <div class="carousel-item active">
            <img src="https://slidechef.net/wp-content/uploads/2023/09/Iphone-15-Presentation-Template.jpg" class="d-block w-100 picture" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://mybroadband.co.za/news/wp-content/uploads/2024/01/008-kv-lifestyle-galaxy-s24ultra-spen-circle-to-search-2p-scaled.jpg" class="d-block w-100 picture" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://i.ytimg.com/vi/MeuycYr8qEo/maxresdefault.jpg" class="d-block w-100 picture" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.shoplightspeed.com/shops/662820/files/59186794/pro-7.png" class="d-block w-100 picture" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.91-cdn.com/hub/wp-content/uploads/2023/07/Samsung-Galaxy-Z-Fold5-Flip5.jpg" class="d-block w-100 picture" alt="...">
        </div>
        <div class="carousel-item">
            <img src="https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc4/Honor-Magic6-Pro-Global.jpg" class="d-block w-100 picture" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<div class="container-fluid p-3 mb-4">
    <div class="d-flex justify-content-between text-center">
        <div class="circle">
            <a href="@Url.Action("Index", "Manufacturer", new { manufacturerName = "Apple" })">
                <img src="~/apple_logo.jpg"/>
            </a>
        </div>
        <div class="circle">
            <a href="@Url.Action("Index", "Manufacturer", new { manufacturerName = "Samsung" })">
                <img src="~/samsung.jpg" />
            </a>  
        </div>
        <div class="circle">
            <a href="@Url.Action("Index", "Manufacturer", new { manufacturerName = "Xiaomi" })">
                <img src="~/Xiaomi-Logo.jpg" />
            </a>
        </div>
        <div class="circle">
            <a href="@Url.Action("Index", "Manufacturer", new { manufacturerName = "Honor" })">
                <img src="~/Honor-logo.jpg" />
            </a>
        </div>
        <div class="circle">
            <a href="@Url.Action("Index", "Manufacturer", new { manufacturerName = "Motorola" })">
                <img src="~/Motorola-Logo.jpg" />
            </a>
        </div>
    </div>
</div>


<a href="@Url.Action("Index", "Shop")" style="border-radius:20px;" class="btn btn-primary d-flex justify-content-center">Go to Shop </a>


<h4 class="mt-5 mb-3 sedan-regular">Top Rated Phones</h4>


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-items active">
            <div class="container">
                <div class="row">
                    @foreach (var item in Model)
                    {
                        <div class="col">
                            <div class="card topRatedPhones">
                                <a href="@Url.Action("Details", "Shop", new { id = item.PhoneId })">
                                    <img src="@item.Picture" class="card-img-top" alt="@item.Name" style="max-height: 100%; max-width: 100%; object-fit: contain;">
                                </a>     
                                <div class="card-body">
                                    <h5 class="card-title">@item.Name</h5>
                                    <p class="card-text">@item.Price.ToString("C")</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




